/*seta página*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}


/*esterizando conteúdos*/

.container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 5px 10px #888;
}

.slides {
    display: flex;
    width: 400%;
    height: 100%;
}

.slides input {
    display: none;
}

.imagens {
    width: 25%;
    transition: .6s;
}

.imagens img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.navigation {
    position: absolute;
    bottom: 5px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}

.navigation .nav {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #888;
    margin: 6px;
    cursor: pointer;
    transition: .9s;
}

.navigation .nav:hover {
    background: #fff;
    border: 2px solid #fff;
}

#slide1:checked~.primeira {
    margin-left: 0;
}

#slide2:checked~.primeira {
    margin-left: -25%;
}

#slide3:checked~.primeira {
    margin-left: -50%;
}

#slide4:checked~.primeira {
    margin-left: -75%;
}


/*muda o tamanho das imagens para telas menores 450 px*/

@media screen and (max-width:450px) {
    .container {
        width: 300px;
        height: 300px;
    }
}